.letter, .letter--black{
  display: inline-block;
  font-weight: 900;
  font-size: 5em;
  margin: 0.07em;
  position: relative;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  transition: all 0.3s ease-in-out;

  &:before, &:after{
    position:absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top:0;
    left:0;
    transition: all 0.3s ease-in-out;
  }

  &:after{
    color: rgba(0,0,0,.11);
    z-index:2;
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(0deg)
      rotateZ(0deg)
      skew(0deg,1deg);
  }

  &:hover:after{
    transform:
      scale(1.08,1)
      rotateX(0deg)
      rotateY(30deg)
      rotateZ(0deg)
      skew(0deg,15deg);
  }
}

.letter-before{
  text-shadow:
    -1px 0px 1px rgba(255,255,255,.8),
    1px 0px 1px rgba(0,0,0,.8);
  z-index: 3;
  transform:
    rotateX(0deg)
    rotateY(-18deg)
    rotateZ(0deg);
}
.letter:before{
  @extend .letter-before;
  color: #FFF;

}
.letter--black:before{
  @extend .letter-before;
  color: $black;
}


.letter-hover-before{
  transform:
    rotateX(0deg)
    rotateY(-30deg)
    rotateZ(0deg);
}
.letter:hover:before{
  @extend .letter-hover-before;
  color: #fafafa;
}
.letter--black:hover:before{
  @extend .letter-hover-before;
  color: #12121c;
}
