=pic-bg($bg)
  background: url($bg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

=solid-bg($color)
  background-color: $color

#intro
  +pic-bg("../images/bg.png")
#about
  background-color: $primary-color
#work
  background-color: $accent-orange
#contact
  background-color: $grey

=stickyspanscreen
  top: 0
  bottom: 0
  position: absolute

.about, .contact
  &-title, &-content
    +stickyspanscreen
    width: 50%
  &-title
    float: left
  &-content
    +stickyspanscreen
    background-color: white
    float: right
    right: 0

.work
  &-title, &-content
    width: 50%
    +stickyspanscreen
  &-title
    +stickyspanscreen
    background-color: white
    float: left
    left: 0
  &-content
    float: right

.section-wrapper
  min-height: 100vh
  display: flex
  flex-direction: row

.subsection
  flex: 1
  display: flex
  text-align: center
  flex-direction: column
  justify-content: center
  &-white
    @extend .subsection
    background-color: white

.about
  flex: 1
  > .title
    vertical-align: middle



.intro
  // top: 50%
  // left: 50%
  // position: absolute
  // text-align: center
  // vertical-align: middle
  // line-height: 100vh
