=pic-bg($bg)
  background: url($bg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

=solid-bg($color)
  background-color: $color

#intro
  // +section-style
  +pic-bg("../images/bg.png")

#about
  // +section-style
  +solid-bg($primary-color)
#contact
  // +section-style
  +solid-bg($grey)
#work
  // +section-style
  +solid-bg($accent-orange)
