=pic-bg($bg)
  background: url($bg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

=solid-bg($color)
  background-color: $color

#intro
  +pic-bg("../images/bg.png")
#about
  background-color: $primary-color
#work
  background-color: $accent-orange
#contact
  background-color: $grey

.about
  &-title, &-content
    height: 100vp
    width: 50%
  &-title
    float: left
  &-content
    float: right
    background-color: white
