@import url(http://fonts.googleapis.com/css?family=Lato:900,400,700,300)
// @import url(https://fonts.googleapis.com/css?family=Merriweather)
// @import url(https://fonts.googleapis.com/css?family=Oswald:700)
// @import url(http://allfont.net/allfont.css?fonts=montserrat-light)

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  margin: 0

$font: Lato

body
  font-family: $font
  font-size: 1em
  font-weight: 400
  color: rgb(68, 68, 68)

h1
  font-weight: 400
  font-size: 3.4em

.clear
  clear: both

strong
  font-weight: 700
