.about {
  // font-family: montserrat-light
  // padding: 50px 70px;
  padding: 50px 60px;
  flex: 1;
  overflow: hidden;
  min-height: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
    text-align: left;
    line-height: 1.4;
  .text {
    // flex: 1;
    text-align: left;
  }

  a:link {
    color: $black;
  }

  a:visited {
    color: $black;
    text-decoration: none;
  }

  a:hover {
    color: $dark-grey;
    text-decoration: none;
  }

  a:active {
    color: $black;
  }
}
