.arrow {
  width: 30px;
  height: 30px;
  bottom: 45px;
  position: absolute;
  left: 0%;
  right: 0%;
  margin: -20px auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  border-left: none;
  border-top: none;
  border-right: 2px #FFF solid;
  border-bottom: 2px #FFF solid;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-name: arrow;
}

@keyframes arrow {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
