#watchr {
  background: url("../images/blurred/watchr.jpg");
}

#findit {
  background: url("../images/blurred/FindIt.jpg");
}

#gestur {
  background: url("../images/blurred/gestur.jpg");
}

#uwparkingbot {
  background: url("../images/blurred/uwparkingbot.jpg");
}

#scout {
  background: url("../images/blurred/scout.jpg");
}

#watchr, #scout, #uwparkingbot, #findit, #gestur {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  transition: all .3s ease-in-out;
  background-position: 50% 50%;
  &:hover{
    background-size: 110%;
    .work-title{
        // @extend .underline-hover-thick;
        // a:after {
        //     opacity: 1;
        //     -webkit-transform: scale(1);
        //     transform: scale(1);
        // }
    }
    .plink{
        opacity: 100;
    }
  }
  .work-title {
    color: $white;
    font-weight: 900;
    font-size: 3.5em;

  }
  .plink{
      // @extend .underline-hover;
      a{
          display: inline-block;
          color: $white;
          text-decoration: none;
      }
      // a:after{
      //     border-bottom: 2px solid;
      // }
      display: inline-block;
      opacity: 0;
      -webkit-transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
      transition: opacity 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
  }
  .tag-line{
    color:$white;
    margin-bottom:5px;
  }
}

@media all and (max-width: 600px){
  #watchr, #scout, #uwparkingbot, #findit, #gestur {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    .work-title {
      color: $white;
      font-weight: 900;
      font-size: 2.4em;

    }
    .plink{
        a{
            display: inline-block;
            color: $white;
            // text-decoration: underline;
        }
        // a:after{
        //     border-bottom: 2px solid;
        // }
        display: inline-block;
        opacity: 100;
        // transition: all .3s ease-in-out;
    }
    .tag-line{
      color:$white;
      margin-bottom:5px;
    }
  }
}
