#watchr {
  background: url("../images/blurred/watchr.jpg");
}

#findit {
  background: url("../images/blurred/Findit.jpg");
}

#clarifind {
  background: url("../images/blurred/clarifind.jpg");
}

#uwatm8 {
  background: url("../images//blurred/uwatm8.jpg");
}

#watchr, #uwatm8, #clarifind, #findit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: 100%;
  transition: all .3s ease-in-out;
  background-position: 50% 50%;
  cursor: pointer;
  cursor: hand;
  &:hover{
    background-size: 110%;
    @extend .underline-hover-thick;
    a:after {
      opacity: 1;
      -webkit-transform: scale(1);
      transform: scale(1);
    }
  }
  div {
    color: $white;
    font-weight: 900;
    font-size: 3.5em;

  }
}
