#watchr {
  background: url("../images/blurred/watchr.jpg");
}

#findit {
  background: url("../images/blurred/FindIt.jpg");
}

#clarifind {
  background: url("../images/blurred/clarifind.jpg");
}

#uwatm8 {
  background: url("../images//blurred/uwatm8.jpg");
}

#watchr, #uwatm8, #clarifind, #findit {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-size: cover;
  transition: all .3s ease-in-out;
  background-position: 50% 50%;
  &:hover{
    background-size: 110%;
    .work-title{
        // @extend .underline-hover-thick;
        // a:after {
        //     opacity: 1;
        //     -webkit-transform: scale(1);
        //     transform: scale(1);
        // }
    }
    .plink{
        opacity: 100;
    }
  }
  .work-title {
    color: $white;
    font-weight: 900;
    font-size: 3.5em;

  }
  .plink{
      @extend .underline-hover;
      a{
          display: inline-block;
          color: $white;
          text-decoration: none;
      }
      a:after{
          border-bottom: 2px solid;
      }
      display: inline-block;
      opacity: 0;
      transition: all .3s ease-in-out;
  }
}
