@import url(http://fonts.googleapis.com/css?family=Lato:900);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0; }

body {
  font-family: Lato; }

h1 {
  font-weight: 400;
  font-size: 3.4em; }

.clear {
  clear: both; }

.orange {
  color: #F58255; }

.blue {
  color: #46AAD9; }

.grey {
  color: #AAAAAA; }

.contact {
  padding-left: 20px;
  padding-right: 20px; }
  .contact .text {
    color: #444444;
    font-size: 1.2em;
    margin-bottom: 25px;
    font-weight: 200; }
  .contact .social {
    width: 210px;
    height: 40px;
    text-align: center;
    position: relative;
    left: 50%;
    top: 50%;
    margin: -20px 0 0 -105px;
    padding: 0; }
    .contact .social li {
      list-style-type: none;
      display: inline-block;
      margin: 0 0 0 -10px;
      pading: 0; }
      .contact .social li a {
        text-align: center;
        color: #444444; }
        .contact .social li a i {
          display: inline-block;
          font-size: 0;
          line-height: 1;
          cursor: pointer;
          padding: 10px;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          text-align: center;
          position: relative;
          color: #444444;
          z-index: 1;
          transition: all 0.2s ease-in-out; }
          .contact .social li a i:before {
            font-size: 20px;
            z-index: 2;
            position: relative; }
          .contact .social li a i:after {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            content: "";
            transform: scale(0.2);
            transition: all 0.2s ease-in-out; }
          .contact .social li a i:hover {
            color: #ffffff; }
            .contact .social li a i:hover:after {
              transform: scale(1);
              opacity: 1; }
    .contact .social .facebook .fa:after {
      background: #3b5998; }
    .contact .social .github .fa:after {
      background: #444444; }
    .contact .social .instagram .fa:after {
      background: #125688; }
    .contact .social .linkedin .fa:after {
      background: #007bb5; }

.letter, .letter--black {
  display: inline-block;
  font-weight: 900;
  font-size: 5em;
  margin: 0.07em;
  position: relative;
  transform-style: preserve-3d;
  perspective: 400;
  z-index: 1;
  transition: all 0.3s ease-in-out; }
  .letter:before, .letter:after, .letter--black:before, .letter--black:after {
    position: absolute;
    content: attr(data-letter);
    transform-origin: top left;
    top: 0;
    left: 0;
    transition: all 0.3s ease-in-out; }
  .letter:after, .letter--black:after {
    color: rgba(0, 0, 0, 0.11);
    z-index: 2;
    transform: scale(1.08, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 1deg); }
  .letter:hover:after, .letter--black:hover:after {
    transform: scale(1.08, 1) rotateX(0deg) rotateY(30deg) rotateZ(0deg) skew(0deg, 15deg); }

.letter-before, .letter:before, .letter--black:before {
  text-shadow: -1px 0px 1px rgba(255, 255, 255, 0.8), 1px 0px 1px rgba(0, 0, 0, 0.8);
  z-index: 3;
  transform: rotateX(0deg) rotateY(-18deg) rotateZ(0deg); }

.letter:before {
  color: #FFF; }

.letter--black:before {
  color: #444444; }

.letter-hover-before, .letter:hover:before, .letter--black:hover:before {
  transform: rotateX(0deg) rotateY(-30deg) rotateZ(0deg); }

.letter:hover:before {
  color: #fafafa; }

.letter--black:hover:before {
  color: #12121c; }

.headroom {
  text-align: center;
  height: 65px;
  position: fixed;
  z-index: 9999999;
  right: 0;
  left: 0;
  top: 0;
  background-color: #40474d;
  padding-left: 4%;
  padding-right: 4%;
  transition: all 0.3s ease-in-out;
  opacity: 0.8;
  backface-visibility: hidden; }
  .headroom:before, .headroom:after {
    content: " ";
    display: table; }
  .headroom:after {
    clear: both; }
  .headroom--pinned {
    transform: translateY(0%); }
  .headroom--unpinned {
    transform: translateY(-100%); }
  .headroom .container {
    height: 70px; }
  .headroom slash {
    color: #748185;
    vertical-align: middle;
    font-size: 4em;
    font-weight: 200;
    font-family: Times New Roman; }
  .headroom a {
    font-size: 0.8em;
    color: #FFFFFF;
    text-decoration: none;
    vertical-align: middle; }

.section-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: row; }

.subsection, .subsection-white {
  flex: 1;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center; }
  .subsection-white {
    background-color: white; }

#intro {
  background: url("../images/bg.png") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#about {
  background-color: #46AAD9; }

#work {
  background-color: #F58255; }

#contact {
  background-color: #AAAAAA; }

.about-title, .about-content, .contact-title, .contact-content {
  top: 0;
  bottom: 0;
  position: absolute;
  width: 50%; }
.about-title, .contact-title {
  float: left; }
.about-content, .contact-content {
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: white;
  float: right;
  right: 0; }

.work-title, .work-content {
  width: 50%;
  top: 0;
  bottom: 0;
  position: absolute; }
.work-title {
  top: 0;
  bottom: 0;
  position: absolute;
  background-color: white;
  float: left;
  left: 0; }
.work-content {
  float: right; }

.about {
  flex: 1; }
  .about .title {
    vertical-align: middle; }

/*# sourceMappingURL=main.css.map */
