.main-nav
  // background-color: $grey
  // color: white
  // // margin-top: -70px
  text-align: center
  // height: 70px
  // // box-shadow: 0 2px 3px rgba(0,0,0,.4)
  // z-index: 99999
  // position: relative
  // vertical-align: 20px

  .big-slash
    font-size: 4em
    font-weight: 200
    font-family: Times New Roman

// .main-nav-scrolled
  position: fixed
  width: 100%
  // top: 0%
