=pic-bg($bg)
  background: url($bg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

#intro
  +pic-bg("../images/bg.png")
#about
  background-color: $primary-color
#work
  background-color: $accent-orange
#contact
  background-color: $grey

.section-wrapper
  min-height: 100vh
  display: flex
  flex-direction: row

.subsection
  flex: 1
  display: flex
  text-align: center
  flex-direction: column
  justify-content: center

  &-white
    @extend .subsection
    background-color: white
