=pic-bg($bg)
  background: url($bg) no-repeat center center
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover



.section-wrapper
  // min-height: 100vh
  display: flex
  flex-direction: row

.subsection
  flex: 1
  display: flex
  text-align: center
  flex-direction: column
  justify-content: center

  &-white
    @extend .subsection
    background-color: white
  &-blue
    @extend .subsection
    background-color: $primary-color
  &-orange
    @extend .subsection
    background-color: $accent-orange
  &-grey
    @extend .subsection
    background-color: $grey
.intro
  height: 100vh
  +pic-bg("../images/bg.png")
